@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Syne:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&display=swap');
/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    /*============= Font-Style ===============*/
    --my-font: 'Inter Tight', sans-serif;
}

/*==================== HOME====================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--my-font);
}

body {

    background: #161616;
}

/*HEADER*/
header {
    position: absolute;
    font-family: 'Syne', sans-serif;
}

.container {
    font-family: 'Syne', sans-serif;
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
}

.container h2 {
    font-family: 'Syne', sans-serif;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 64px;
        padding: right 64px;
    }
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-7px, -6px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #12002F;
    padding-top: 120px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0%;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #1f103F;
    color: #FFF;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: #24104f;
}

@media (min-width: 1024px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
}

header {
    color: #FFF;
    position: fixed;
    position: relative;
    width: 100%;
    z-index: 99;
}

header .container {
    padding: 0px 50px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .container h2 {
    color: inherit;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
}

@media (max-width: 1024px) {
    header .container nav {
        display: none;
    }
}

/* header.is-scrolling {
    background-color: #8f80a8;
    z-index: 2000;
}

header.is-scrolling .container {
    padding-top: 20px;
    padding-bottom: 10px;
} */

header .navbar {
    border-radius: 24px;
    display: flex;
    align-items: center;
}

header .navbar .logo {

    width: 140px;
    margin-top: -1.4rem;
}

header .navbar nav {
    margin-left: 25rem;
}

header .navbar nav ul {
    border: 2px solid #353535;
    border-radius: 24px;
    display: flex;
}

nav ul li a {
    font-family: 'Syne', sans-serif;
    border-radius: 24px;
    border-right: 2px solid #353535;
    display: inline-block;
    white-space: nowrap;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 13px;
    transition: 0.2s;
}

.nav-icon i {
    padding-right: 0.3rem;
}

nav ul li a:hover,
nav ul li a:active {
    background: #ffffff;
    color: black;
}
#contact{
    background-color: white;
    color: black;
}
/*------------------------------------End of Navrbar-----------------------------------------*/
section {
    border: 1px solid #353535;
    background-color: #262626;
    margin-bottom: 20px;
    margin-inline: 20px;
    border-radius: 24px;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4 {
    display: flex;
    padding: 50px;
    position: relative;
    width: 100%;
}
#box1 img{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 24px;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
#box2{
    padding: 50px;
    border-radius: 24px;
    border: 1px solid #353535;
    background-color: #262626;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box form input{
    font-size: 15px;
    color: white;
    border: none;
    background-color: #353535;
    margin-block: 20px;
    padding: 15px;
    width: 100%;
    display: block;
}
.box form textarea{
    font-size: 15px;
    color: white;
    border: none;
    background-color: #353535;
    width: 100%;
    padding: 20px;
}
.box form button{
    color: white;
    border: none;
    background-color: #454545;
    margin-block: 20px;
    font-size: 15px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.box form button:hover{
    background-color: #353535;
}
.box form{
    color: white;
    width: 100%;
}
.socials{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.socials p{
    font-size: 15px;
    padding-right: 20px;
}
.socials_container{
    border: 1px solid #454545;
    background-color: #353535;
    align-items: center;
    display: flex;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.socials_container:hover{
    background-color: #454545;
}
.socials i{
    font-size: 20px;
    padding: 20px;
}
.box h1{
    font-size: 50px;
    font-family: 'Syne', sans-serif;
}
.box h3{
    color: #b9b9b9;
}
@media (max-width: 1024px){
    #box1{
        display: none;
    }
    .box{
        width: 100%;
    }
}
@media (max-width: 768px){
    .container4 h1{
        font-size: 30px;
    }
    .socials {
        grid-auto-flow: row;
        grid-template-columns: none;
    }
    .box{
        padding: 20px;
    }
    .container4{
        border: none;
        padding: 0px;
    }
    #box2{
        padding: 20px;
    }
    .box{
        margin: 0px;
        border: none;
    }
    section{
        border: none;
    }
}


/*-----------------------------------------FOOTER----------------------------------------------------*/

footer{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a{
    margin-block: 10px;
    border: 2px solid #353535;
    background-color: #262626;
    border-radius: 16px;
    position: relative;
    color: white;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 1.1em;
}
footer a:hover{
    cursor: default;
    width: 450px;
}
footer a::before{
    content: "\f11c";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-size: 20px;
    left: 18px;
}
footer a:hover::before{
    left: 18px;
}
footer::after{
    transform: translate(-50px, 50px);
}
footer a:hover::after{
    transform: translate(50px, -50px);
}
footer a span{
    font-family: 'Syne', sans-serif;
    font-size: 10px;
    color: #b9b9b9;
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    transition: 0.5s;
    transform: translate(-30px);
}
footer a span i{
    opacity: .5;
    font-size: 17px;
    transition: .3s ease-in-out;
    margin-left: 10px;
}
footer a span i:hover{
    transform: translateY(-10px);
    cursor: pointer;
    opacity: 1;
}
a:hover span{
    visibility: visible;
    opacity: 1;
    transform: translate(10px);
}

/*----------------------------------- Hold Me -------------------------------*/

#additional-container {
    color: #b9b9b9;
    font-size: 13px;
    display: none; /* Hide the additional container by default */
    text-align: center;
}

@media (max-width: 768px) {
    #additional-container {
        display: block; /* Show the additional container when the max width is 768px or less */
    }
}
.fa-chevron-down {
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}