@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Syne:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(23, 23, 23);
}

/* ----------------------------------------------- NAVBAR -------------------------------------------------- */

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px 10px 10px;
    position: sticky;
    top: 0%;
    border-bottom: 1px solid white;
    background-color: rgb(37, 37, 37);
    z-index: 1;
}
.logo{
    margin-right: auto;
    font-family: 'Syne', sans-serif;
    font-size: 10px;
    background: -webkit-linear-gradient(to right, #aba136, #e5d16c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #aba136, #e5d16c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.logo h1{
    transition: ease-in-out .3s;
}
nav ul{
    list-style: none;
    display: flex;
}
.navbar li{
    display: inline-block;
    margin: 0px 20px;
    font-family: 'Syne', sans-serif;
}
.link-container{
    border: solid 1px white;
    display: inline;
    position: relative;
    padding: 10px;
    transition: ease-in-out .3s;
}
.navbar li a{
    text-decoration: none;
    color: white;
    transition: ease-in-out .3s;
}
.headline{
    position: relative;
    text-align: center;
    margin: 20px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-family: 'Syne', sans-serif; 
    background: -webkit-linear-gradient(to right, #aba136, #e5d16c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #aba136, #e5d16c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.headline h1{
    transition: ease-in-out .3s;
}

nav #toggle, nav label{
    display: none;
}
#home{
    background-color: white;
    color: black;
}

.link-container:hover{
    background-color: white;
    cursor: pointer;
}
.link-container:hover a{
    color: black;
}
.logo:hover h1{
    background: -webkit-linear-gradient(to right, #aba136, #e5d16c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #aba136, #e5d16c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.headline h1:hover{
    background: -webkit-linear-gradient(to right, #aba136, #e5d16c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #aba136, #e5d16c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: default;
}

@media(max-width: 1010px){
    .logo{
        font-size: 7px;
    }
    nav .link-container{
        border: none;
        width: 95%;
        text-align: right;
        border: 1px solid white;
        margin-bottom: 20px;
    }
    nav .menu{
        transition: .2s ease-in-out;
        width: 100%;
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: rgb(23, 23, 23);
    }
    nav ul{
        flex-direction: column;
        width: 100%;
        margin: 0px 10px;
    }
    nav .menu-toggle {
        display: flex;
        margin-right: 5px;
        font-size: 25px;
        justify-content: flex-end;
        cursor: pointer;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }
    
    nav #toggle:checked ~ .menu-toggle .fa-bars {
        display: none;
    }
    
    nav #toggle:checked ~ .menu-toggle .fa-times {
        display: block;
    }
    
    nav #toggle:not(:checked) ~ .menu-toggle .fa-bars {
        display: block;
    }
    
    nav #toggle:not(:checked) ~ .menu-toggle .fa-times {
        display: none;
    }
    nav #toggle:checked ~ .menu {
        padding: 20px 0px;
        position: absolute;
        margin-top: -24px;
        height: 100vh;
        width: 100%;
        background-color: rgb(23, 23, 23);
        z-index: 1;
    }
    nav #toggle:checked ~ .menu .link-container {
        font-size: 20px;
    }
}

/* ------------------------------------------------ WELCOME TRAVELER -------------------------------------------------- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 350px;
}
.container h1 {
    font-size: 34px;
    height: 100%;
    width: 60%;
    border-right: 1px solid white;
    font-family: 'Syne', sans-serif;
    color: white;
    padding: 10px;
}
.container img {
    border: 1px solid white;
    width: 40%;
    height: 313px;
    margin: 10px 20px 2px 30px;
    -webkit-animation: shadow-pop-br .5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: shadow-pop-br .5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.details h4{
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    margin-top: 65px;
}
.details{
    height: 100%;
    text-align: right;
    font-family: 'Questrial', sans-serif;
    font-size: 10px;
}
.socials{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}
.socials .btn{
    font-size: 30px;
    color: white;
    background: transparent;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    transition: .3s ease-in-out;
}
.btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
@-webkit-keyframes shadow-pop-br {
    0% {
      -webkit-box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
              box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px 1px white, 2px 2px white, 3px 3px white, 4px 4px white, 5px 5px white, 6px 6px white, 7px 7px white, 8px 8px white;
              box-shadow: 1px 1px white, 2px 2px white, 3px 3px white, 4px 4px white, 5px 5px white, 6px 6px white, 7px 7px white, 8px 8px white;
      -webkit-transform: translateX(-8px) translateY(-8px);
              transform: translateX(-8px) translateY(-8px);
    }
  }
  @keyframes shadow-pop-br {
    0% {
      -webkit-box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
              box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px 1px white, 2px 2px white, 3px 3px white, 4px 4px white, 5px 5px white, 6px 6px white, 7px 7px white, 8px 8px white;
              box-shadow: 1px 1px white, 2px 2px white, 3px 3px white, 4px 4px white, 5px 5px white, 6px 6px white, 7px 7px white, 8px 8px white;
      -webkit-transform: translateX(-8px) translateY(-8px);
              transform: translateX(-8px) translateY(-8px);
    }
  }
  

/* --------------------------------------------- TABLET VIEW ------------------------------------------- */
@media(max-width:1033px){
    .container{
        border-top: none;
        margin-top: 340px;
        flex-wrap: wrap-reverse;
        height: 320px;
    }
    .container img{
        width: 550px;
    }
    .container h1{
        position: relative;
        padding: 0px 10px 10px 10px;
        width: 80%;
        text-align: center;
        border: none;
    }
    .details{
        text-align: center;
    }
    .socials{
        justify-content: center;
    }
    .details h4{
        margin-top: 30px
    }
}
/* --------------------------------------------- MOBILE VIEW ------------------------------------------- */
@media(max-width:768px){
    .container{
        margin-top: 340px;
        height: 275px;
    }
    .container h1{
        font-size: 25px;
    }
    .container img{
        width: 500px;
    }
    .details{
        font-size: 10px;
    }
    .details h4{
        margin-top: 20px;
        font-size: 25px;
    }
}

@media(max-width:595px){
    .container{
        margin-top: 290px;
        height: 240px;
    }
    .container h1{
        font-size: 20px;
    }
    .container img{
        width: 450px;
        height: 250px;
    }
    .details{
        font-size: 10px;
    }
    .details h4{
        margin-top: 20px;
        font-size: 20px;
    }
    .socials .btn{
        font-size: 20px;
        width: 40px;
        height: 40px;
    }
}
@media(max-width:480px){
    .container{
        margin-top: 237px;
        height: 197px;
    }
    .container h1{
        font-size: 15px;
    }
    .container img{
        margin-bottom: 10px;
        width: 390px;
        height: 200px;
    }
    .details{
        font-size:  10px;
    }
    .details h4{
        margin-top: 20px;
        font-size: 18px;
    }
    .socials .btn{
        font-size: 20px;
        width: 40px;
        height: 40px;
    }
}
/* ------------------------------------------------ SKILLS -------------------------------------------------- */
.slide img{
    margin: 10px 0px 10px 0px;
    width: 70px;
    height: 70px;
    transition: .3s ease-in-out;
}
.slider{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}
.slider .slide-track{
    animation: scroll 40s  linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide{
    width: 250px;
}
.slide:hover img{
    transform: scale(1.2);
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 7));
    }
}
@media (max-width: 768px){
    .slide img{
        height: 50px;
        width: 50px;
    }
}

/* ------------------------------------------------ PROJECTS -------------------------------------------------- */

.hero{
    height: 63vh;
    position: relative;
    overflow: hidden;
}
.btn-box{
    display: flex;    
}
.btn-box button{
    font-size: 16px;
    color: white;
    font-family: 'Syne', sans-serif;
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    transition: .3s ease-in-out;
}
.btn-box button:hover{
    background-color: white;
    color: black;
}
.content{
    justify-content: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    position: absolute;
    transform: translateX(100%);
}
.content-left{
    border-right: 1px solid white;
    flex-basis: 722px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Syne', sans-serif;
    color: white;
    text-align: left;
}
.content-right img{
    border: 1px solid white;
    object-fit: cover;
    transition: .7s;
    opacity: 0.70;
}
.content-right{
    flex-basis: 50%;
    overflow: hidden;
}
#content1{
    transform: translateX(0px);
}
#btn1{
    background-color: white;
    color: black;
}
.play{
    margin: 10px 0px 10px 0px;
    font-family: 'Syne', sans-serif;
    font-size: 17px;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.play:hover{
    background-color: white;
    color: black;
}
.content-right:hover img{
    transform: scale(1.03);
    opacity: 1;
}

@media(max-width: 768px){
    .content{
        flex-direction: column-reverse;
    }
    .content-right{
        height: 200px;
    }
    .btn-box button{
        font-size: 10px;
    }
    .content-left{
        flex-basis: 0px;
        font-size: 13px;
        text-align: center;
        justify-content: center;
        border-right: none;
    }
}
@media(max-width: 480px){
    .btn-box button{
        font-size: 9px;
    }
}
/*----------------- PHONE SPECIFIC MEDIA QUERY ------------------------*/
@media(max-width: 400px){
    .hero{
        height: 369px;
    }
    .btn-box button{
        font-size: 8px;
    }
    .content-left{
        font-size: 12px;
    }
    .play{
        font-size: 12px;
    }
}

footer{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: transparent;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-family: 'Questrial', sans-serif; 
    padding: 10px;
    font-size: 10px;
    background: -webkit-linear-gradient(to right, #aba136, #e5d16c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #aba136, #e5d16c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
footer h1{
    transition: .3s ease-in-out;
}
footer i{
    margin-right: 5px;
    font-size: 15px;
}
footer h1:hover{
    background: -webkit-linear-gradient(to right, #aba136, #e5d16c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #aba136, #e5d16c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: default;
}

@media(max-width: 419px){
    footer{
        font-size: 7px;
    }
    footer i{
        font-size: 10px;
    }
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0)
}