@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Syne:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&display=swap');
/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    /*============= Font-Style ===============*/
    --my-font: 'Inter Tight', sans-serif;
}

/*==================== HOME====================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--my-font);
}

body {

    background: #161616;
}

/*HEADER*/
header {
    position: absolute;
    font-family: 'Syne', sans-serif;
}

.container {
    font-family: 'Syne', sans-serif;
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
}

.container h2 {
    font-family: 'Syne', sans-serif;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 64px;
        padding: right 64px;
    }
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-7px, -6px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #12002F;
    padding-top: 120px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0%;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #1f103F;
    color: #FFF;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: #24104f;
}

@media (min-width: 1024px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
}

header {
    color: #FFF;
    position: fixed;
    position: relative;
    width: 100%;
    z-index: 99;
}

header .container {
    padding: 0px 50px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .container h2 {
    color: inherit;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
}

@media (max-width: 1024px) {
    header .container nav {
        display: none;
    }
}

/* header.is-scrolling {
    background-color: #8f80a8;
    z-index: 2000;
}

header.is-scrolling .container {
    padding-top: 20px;
    padding-bottom: 10px;
} */

header .navbar {
    border-radius: 24px;
    display: flex;
    align-items: center;
}

header .navbar .logo {

    width: 140px;
    margin-top: -1.4rem;
}

header .navbar nav {
    margin-left: 25rem;
}

header .navbar nav ul {
    border: 2px solid #353535;
    border-radius: 24px;
    display: flex;
}

nav ul li a {
    font-family: 'Syne', sans-serif;
    border-radius: 24px;
    border-right: 2px solid #353535;
    display: inline-block;
    white-space: nowrap;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 13px;
    transition: 0.2s;
}

.nav-icon i {
    padding-right: 0.3rem;
}

nav ul li a:hover,
nav ul li a:active {
    background: #ffffff;
    color: black;
}

#home{
    background-color: white;
    color: black;
}
/*----------------------------------------------------------------------------*/


section {
    border: 2px solid #353535;
    background-color: #262626;
    margin-inline: 20px;
    margin-bottom: 20px;
    border-radius: 24px;
    position: relative;
    color: white;
    /*     height: 90vh;
 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    flex: 1;
}


.container2 .box {
    width: 100%;
    position: relative;
}

#box1 {
    width: 70%;
    padding: 50px;
    display: flex;
    align-items: center;
}

#box2 {
    width: 30%;
    padding: 50px;
}


#box1 img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 24px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
}

.box .details h1 {
    font-family: 'Syne', sans-serif;
    font-weight: bolder;
    font-size: 70px;

}

.box .details span {
    font-size: 20px;
}

.box .details p {
    text-align: justify;
    margin-block: 20px;
    color: #b9b9b9;
}

.box .details .socials {
    width: 100%;
    position: relative;
}

.details .socials img {
    margin-right: 20px;
    margin-block: 20px;
    width: 25px;
    object-fit: cover;
}

.socials .logo {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border-top: 2px solid #353535;
}

.logo>div {
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
}

.socials .logo p {
    font-size: 15px;
    font-family: 'Syne', sans-serif;
}

.logo>div:hover {
    transform: scale(1.1);
}

@media(max-width: 1650px) {
    .box .details h1 {
        font-size: 40px;
    }
}

@media(max-width: 1024px) {
    .container2 {
        flex-direction: column;
    }

    .container2 .box {
        height: 50%;
    }

    #box1 {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
    }

    #box2 {
        width: 100%;
        padding: 20px;
    }

    #box2 h1,
    p {
        margin-block: 20px;
    }

    #box2 h1 {
        text-align: center;
        font-size: 30px;
    }

    #box2 p {
        font-size: 15px;
        text-align: justify;
    }
}



/* --------------------------------------------------SKILLS---------------------------------------- */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a{
    margin-block: 20px;
    border: 2px solid #353535;
    background-color: #262626;
    border-radius: 16px;
    position: relative;
    color: white;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 1.1em;
}
footer a:hover{
    width: 300px;
}
footer a::before{
    content: "\f11c";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-size: 20px;
    left: 18px;
}
footer a:hover::before{
    left: 18px;
}
footer::after{
    transform: translate(-50px, 50px);
}
footer a:hover::after{
    transform: translate(50px, -50px);
}
footer a span{
    font-family: 'Syne', sans-serif;
    font-size: 15px;
    color: #b9b9b9;
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    transition: 0.5s;
    transform: translate(-30px);
}
a:hover span{
    visibility: visible;
    opacity: 1;
    transform: translate(10px);
}

/*----------------------------------- Hold Me -------------------------------*/

#additional-container {
    color: #b9b9b9;
    font-size: 13px;
    display: none; /* Hide the additional container by default */
    text-align: center;
}

@media (max-width: 768px) {
    #additional-container {
        display: block; /* Show the additional container when the max width is 768px or less */
    }
}
.fa-chevron-down {
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}